div.card_container {
  width: 200px;
  margin-right: 21px;
  transition: 0.3s;
  position: relative;

  & img {
    cursor: pointer;
  }
}

div.card_film_infos {
  height: 71px;
  background-color: #1a1a1a;
  margin-top: -7px;
  padding: 13px 0px;
  padding-left: 9px;
  position: relative;
  z-index: 1;

  & h4 {
    cursor: pointer;
    color: #fff;
  }

  & h4:hover {
    text-decoration: underline;
  }
}

.card_container:hover .card_actions {
  bottom: 96px;
}

.card_actions {
  background-color: rgba(26, 26, 26, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-around;

  backdrop-filter: blur(2px);
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  z-index: 0;
  transition: all 0.2s;

  & svg {
    cursor: pointer;
  }
}

.card_infos_rate {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.card_infos_rate svg {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.card_infos_rate span {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 3px;
  margin-left: 2px;
}
