.loading_div {
  color: beige;
  min-height: 70vh;
  width: 100%;
  top: 64px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.loading_div svg {
  width: 80px;
  height: 80px;
}
