h2.categoria_titulo {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 13px 0px;
}

h2.categoria_titulo span.yellow_bar {
  background-color: #f5c518;
  border-radius: 5px;
  margin-right: 8px;
  display: inline-block;
  width: 5px;
  height: 36px;
}

h4.categoria_subtitulo {
  color: #afafaf;
  margin-top: -5px;
  margin-bottom: 16px;
}
