.movie_card_div {
  display: flex;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #707070;
  max-height: 300px;
  box-sizing: border-box;
  overflow-y: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.movie_card_div:hover {
  opacity: 0.7;
}

.movie_card_infos {
  width: 100%;
  color: #fff;
  margin-left: 15px;
}

.movie_card_infos h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.movie_card_infos p {
  margin-top: 15px;
}

.no_img_path {
  width: 240px;
  height: 293px;
  background-color: #a4a4a4;
  display: flex;
  justify-content: center;
  align-items: center;
}
